<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">החנות של איתי</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div  id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">ראשי</a>
        <a class="nav-link" href="#">מוצרים</a>
        <a class="nav-link" href="Cart.html">סל קניות</a>
        <a class="nav-link" href="#">צור קשר</a>
        <button type="button" class="btn btn-primary">
  מוצרים בסל <span class="badge text-bg-secondary" id ="TotalCart"></span>
</button>
<form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="חיפוש" aria-label="search"/>
        <button class="btn btn-outline-success" type="submit">חפש</button>
      </form>
      </div>
    </div>
  </div>
</nav>